


body {
    background-color : #6ea3f6
}

html {
    background-color: #6ea3f6;
}

.about-container {
    background-color: #6EA3F6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 35px;
    color: #404756;
}

p {
    font-size: 20px;
    color: F5F7F7;
    line-height: 1.5;
}