#project-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    border-radius: 0px;
    padding: 20px;
    column-gap: 20px;
    row-gap: 10px;
    }

#background {
        background-color: #6ea3f6
    }

    .top-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px; /* Set the desired height for the image container */
        background-color: #6ea3f6;
        padding: 25px;
    }
    
    .top-image img {
        max-width: 100%; /* Ensure the image does not exceed its container */
        max-height: 100%; /* Ensure the image does not exceed its container */
    }
    

    .wing {
        position: absolute;
        height: 10%; 
    }
    
    .left-wing {
        left: 15%; /* Adjust the left value to move the left wing closer to the center */
        top: 10%;
        height: 10%;
        -webkit-animation: mover 2s infinite  alternate;
        animation: mover 2s infinite  alternate;
        
    }
    
    .right-wing {
        right: 15%; /* Adjust the right value to move the right wing closer to the center */
        top: 10%;
        height: 10%;
        -webkit-animation: mover 2s infinite  alternate;
        animation: mover 2s infinite  alternate;
    }


    @-webkit-keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-20px); }
    }
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-20px); }
    }