#project-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 10px;
    }

#background {
        background-color: #6ea3f6
    }

    .top-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px; /* Set the desired height for the image container */
        background-color: #6ea3f6;
    }
    
    .top-image img {
        max-width: 100%; /* Ensure the image does not exceed its container */
        max-height: 100%; /* Ensure the image does not exceed its container */
    }
    