#background {
    background-color: #6ea3f6;
}

/* Style for the wings */
.wing {
    position: absolute;
    /* top: 10; */
    height: 10%; /* Adjust this value to fit your design */
}

.left-wing {
    left: 0;
    top: 10;
    height: 10%; 
}

.right-wing {
    right: 0;
    top: 10;
    height: 10%; 
}

.login-container {
    display: flex;
    flex-direction: column; /* To stack items vertically */
    justify-content: center; /* To center items vertically */
    align-items: center; /* To center items horizontally */
    background-color: #404756;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
