@import url("https://fonts.google.com/specimen/Unica+One?category=Display");



html {
    font-family: 'Unica One';
    color: #F5F7F7;
    font-size: 20px;
  }
  
  

.nav-menu {
    list-style: none; /* Remove default list styling */
    padding: 10;
    margin: 10;
    display: flex; /* Display menu items horizontally */
}

.nav-menu li {
    margin-right: 50px; /* Add spacing between menu items */
}

.nav-menu a {
    text-decoration: none;
    color: #000; /* Set text color */
}
